<form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <textarea
      formControlName="content"
      class="form-control"
      rows="4"
      placeholder="Écrivez ici votre commentaire"
    ></textarea>
  </div>

  <app-alert-message type="danger" [message]="errorMessage"></app-alert-message>

  <div class="text-end">
    <button
      type="submit"
      class="btn btn-primary px-4"
      [disabled]="!commentForm.valid || isSubmitting"
    >
      <span *ngIf="!isSubmitting">Envoyer ➤</span>
      <span *ngIf="isSubmitting">Envoi...</span>
    </button>
  </div>
</form>
