/* You can add global styles to this file, and also import other style files */

/* Override Bootstrap variables before importing */
$primary: #7451eb;

/* Import Bootstrap SCSS */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
